::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ce225e;
  border-radius: 5px;
}

p::selection,
h1::selection,
h2::selection,
span::selection,
a::selection {
  color: white;
  background: #ce225e;
}

* {
  transition: all 0.3s ease-in-out;
}
