body {
	background-color: #494898;
	background-image: radial-gradient(#7674df 1px, transparent 0);
	background-size: 40px 40px;
	background-position: 0 0, 20px 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
